
.table td{
    border: 2px solid white;
    text-align: center;
    padding: 5px;
}

.table thead{
    font-size: 18px;
    background-color: #8570F0;
    color: white;
}

.table tbody{
    background-color: #f1f1f3;
}

.tableWrapper{
    margin: 10px auto;
    width: 600px;
}

.tableWrapper table{
    width: 600px;
    margin-top: 10px;
    border-collapse: collapse;
}
