
.selected.usual{
    font-weight: bold;
    background-color: #8570F0;
    color: white;
}

.usual{
    border: 1px solid white;
    display: inline-block;
    width: 20px;
    text-align: center;
    margin-bottom: 10px;
    background-color: #f1f1f3;
}
